<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../app-toolbar/test/app-toolbar.html">

<dom-module id="header-er-2">
  <template>
    <style>
      :host {
        display: block;
      }
       :host       body {
          /* No margin on body so toolbar can span the screen */
          margin: 0;
          
        }
         :host   app-toolbar {
          /* Toolbar is the main header, so give it some color */
          background-color: lightblue;
          font-family: 'Roboto', Helvetica, sans-serif;
          color: orange;
          display: inline-flex;
          --header-er-font-size: 24px;
          padding: 0;
          width: 100%;
        } 
        :host div {
          margin: auto;
          font-size: 24px;
          width: auto;
          text-align:center;
        }
    </style>
    <body class="fond">
    <app-toolbar >
        <paper-icon-button src="../images/lista.png"></paper-icon-button>
        <div main-title>Bienvenido [[prop1]]!</div>
        <paper-icon-button id="lupa" src="../images/lupa.png">></paper-icon-button>
      </app-toolbar>
    </body>
  </template>

  <script>
    /**
     * `header-er-2`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderEr2 extends Polymer.Element {
      static get is() { return 'header-er-2'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Ernesto Mejia'
          }
        };
      }
    }

    window.customElements.define(HeaderEr2.is, HeaderEr2);
  </script>
</dom-module>